# Ignore Git and GitHub files
.git/
.github/

# Ignore Husky configuration files
.husky/

# Ignore documentation and metadata files
CONTRIBUTING.md
LICENSE
README.md

# Ignore environment examples and sensitive info
.env
*.local
*.example

# Ignore node modules, logs, and cache files
**/*.log
**/node_modules/
**/dist/
**/build/
**/.cache/
logs/
dist-ssr/
.DS_Store

# Ignore Docker configuration files (optional)
Dockerfile
docker-compose.yml

# Ignore IDE specific files (optional)
.vscode/
.idea/
*.iml
*.sublime-project
*.sublime-workspace
